version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: pgdb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    container_name: radiation_backend
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - postgres

volumes:
  pgdata:
